* {
    box-sizing: border-box;
    font-family: sans-serif, Tahoma;
}

body {
    background: url('./images/background.jpg');
    background-attachment: fixed;
}

.background {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.3);
}

.container {
    width: 80%;
}

