.logo {
    width: 120px;
     cursor: pointer;
}

.nav {
    font-size: 18px;
    text-transform: uppercase;
}

.nav_li {
    margin: 80px 0 20px 20px;
    cursor: pointer;
}

.nav_li span {
    padding: 15px;
    color: white;
}

.nav_li span:hover {
    color: black;
    background: rgb(242, 242, 255);
}